<div class="centered" style="font-size: 4vw; margin-top: 5%;">{{this.timeSinceStart}}</div>

<div class="centered estimator">
    <div class="buttons">
        <button mat-mini-fab [color]="buttonNum+1<curTask?'warn':'accent'" [disabled]="false"
            *ngFor="let buttonNum of buttons" (click)="finishTask(buttonNum+1)">{{buttonNum+1}}</button>
    </div>
    <div class="centered etoc">
        <div style="font-size: 5vw;" class="centered">You'll be done at...</div>
        <div style="font-size: 10vw; margin-top: 8vw;" class="centered">{{etoc}}</div>
    </div>
</div>