<span>
    <button mat-flat-button color="basic" (click)="takeBreak(breakDialogBox)">TAKE BREAK</button>

    <span class="centered mat-h2" style="margin-top: 6vh">{{this.timeSinceStart}}</span>
</span>

<div class="centered estimator">
    <div class="buttons">
        <button mat-mini-fab [color]="buttonNum+1<curTask?'warn':'accent'" *ngFor="let buttonNum of buttons"
            (click)="buttonNum+1 != buttons.length ? finishTask(buttonNum+1) : congratulateUser(congratulationsDialogBox)">{{buttonNum+1}}</button>
    </div>
    <div class="etoc">
        <div *ngIf="this.curTask > 1">
            <div class="mat-display-2">
                You'll be done at
                {{etoc.local().format('h:mm A')}}
            </div>
        </div>

        <div *ngIf="this.curTask === 1" class="mat-display-1">Click
            '1' once you finish your
            first task.</div>
    </div>
</div>

<ng-template #breakDialogBox>
    <h1 mat-dialog-title>You are taking a break...</h1>
    <div mat-dialog-actions>
        <button mat-button (click)="closeDialogBox()">END BREAK</button>
    </div>
</ng-template>

<ng-template #congratulationsDialogBox>
    <h1 mat-dialog-title>You finished!</h1>
    <div mat-dialog-actions>
        <button mat-button (click)="returnHome()">DO ANOTHER</button>
    </div>
</ng-template>